body {
	font-family: Arial;
}

.center {
	text-align: center;
}

/* Use FlexBox to create two columns and customize */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*style the setosa class*/
.setosa {
	fill: mediumseagreen;
	opacity: 50%;
}

/*style the versicolor class*/
.versicolor {
	fill: lightsalmon;
	opacity: 50%;
}

/*style the virginica class*/
.virginica {
	fill: lightsteelblue;
	opacity: 50%;
}

/*style the point when brushing*/
.selected {
	stroke-width: 3px;
  stroke: orange;
  opacity: 90%;
}

/*style the title for the graph*/
.title {
	font-weight: 700;
	font-size: 20px;
	text-align: center;
}
