body {
	font-family: Arial;
}

.center {
	text-align: center;
}

/* Use FlexBox to create two columns and customize */
.container {
  display: flex;
  flex-direction: row;
}

.left {
  flex: 33.33%;
}

.middle {
	flex: 33.33%;
}

.right {
	flex: 33.33%;
}
